body {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}

header {
    background-color: rgb(111, 169, 113);
    color: white;
    padding: 0;
    margin: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#logo {
    margin-right: 20px;
    width: 50px;
}

#headimg {
    width: 100%;
    display: block;
}

main h2 {
    background-color: rgb(233, 206, 203);
    border-left: solid 10px;
    padding-left: 15px;
}

.gakubu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section {
    flex: 1;
    padding: 10px;
    background-color: white;
    border: 4px solid;
    border-radius: 10px;
    text-align: center;
}

#keiei {
    border-color: rgb(243, 216, 188);
    background: rgb(252, 239, 239) url(images/ビジネスマン.png) no-repeat center;
}

#kaikei {
    border-color: rgb(243, 188, 188);
    background: rgb(252, 239, 239) url(images/計算機.png) no-repeat center;
}

#jouho {
    border-color: rgb(212, 167, 243);
    background: rgb(252, 239, 239) url(images/パソコン.png) no-repeat center;
}

.button-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.button {
    background-color: rgb(252, 176, 69);
    border: 0;
    border-radius: 5px;
    width: 80%;
    height: 80px;
    font-size: x-large;
}

.button:hover {
    background-color: rgb(213, 113, 54);
}

footer {
    background-color: rgb(111, 169, 113);
    color: white;
    text-align: center;
    padding: 20px 0;
}

#copy {
    text-align: right;
    margin-right: 20px;
}

@media (max-width: 900px) {
    .header-container {
        text-align: center;
        flex-direction: column;
    }
    h1 {
        font-size: 20px;
    }
    .gakubu {
        flex-direction: column;
    }
    .button {
        width: 100%;
    }
}
