body {
    background-color: #f0f0f0; 
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.range {
    width: 600px;
    background-color: white;
    padding: 20px;
}

#logo {
    display: block;
    width: 40px;
    margin: 10px;
    margin-top: 5px;
    float: left;
}

h1 {
    background-color: rgb(94, 153, 97);
    color: white;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.gakubu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section {
    padding: 10px;
    background-color: white;
    border: 4px solid;
    border-radius: 10px;
    text-align: center;
}

#keiei {
    border-color: rgb(243, 216, 188);
}

#kaikei {
    border-color: rgb(243, 188, 188);
}

#jouho {
    border-color: rgb(212, 167, 243);
}

img {
    max-width: 60%;
    height: auto;
    margin: 10px auto;
    border-radius: 10px;
}

footer {
    background-color: rgb(94, 153, 97);
    color: white;
    text-align: center;
    padding: 20px;
}

#copy {
    text-align: right;
    margin-right: 10px;
}

.button {
    background-color: rgb(153, 85, 85);
    color: white;
    border-radius: 5px;
    font-size: large;
    width: 30%;
    padding: 10px;
    border: 0;
    margin: 20px auto;
}

.border {
    display: flex;
    align-items: center;
}

.border:before,
.border:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #666;
}

.border:before {
    margin-right: 1rem;
}

.border:after {
    margin-left: 1rem;
}


@media (max-width: 600px) {
    .wrapper {
        width: auto;
        margin: 0 10px;
    }

    #logo {
        float: none;
        margin: 0 auto;
    }

    h1 {
        font-size: 1.5em;
        padding: 5px;
    }

    .button {
        width: 80%;
    }

    #copy {
        text-align: center;
        margin-right: 0;
    }
}
